
<!doctype html>
<html>
<head>
<link rel="stylesheet" href="static/index.css?v=1.0.199">
<body>
    <head>
        <title>Data collection</title>
        <style>
            .main_div {
                text-align:center;
                position: relative;
                left: 100px;
                height: 200px;
                width: 500px;
                background-color: green;
            }
            .sub_div {
                position: absolute;
                bottom: 0px;
            }
            p {
                margin-left:110px;
            }
        </style>
    </head>
    <table>
        <tr>
            <th>Name</th>
            <th>Phone</th>
            <th>Feedback</th>
        </tr>
        {% for customers in customer %}
        <tr>
        <td>{{ customers['name'] }}</td>
        <td>{{ customers['phone'] }}</td>
        <td>{{ customers['feedback'] }}</td>
        </tr>
        {% endfor %}      
    </table>   
    <div style="margin-bottom: 10px;", class="sub_div">
        <a href="/">
            <button class="btn btn-outline-success my-2 my-sm-0">Return</button>
    </div> 
</body>
</head>
</html>